.main-container{
  max-width: 100%;
  padding: 0 15px;
  @include center();

  @include respond-min(1340){
    max-width: 1300px;
  }
}

.main-container--fluid{
  width: 100%;
  padding: 0 15px;
  @include respond-min(1400){
    padding: 0 40px;
  }
}
